doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(method="post" action="/test")
      input(type="text" name="firstName" placeholder="First name")
      br
      input(type="text" name="lastName" placeholder="Last name")
      br
      input(type="submit" value="OK")
